<div class="form-container">
  <h2 class="form-title">
    @if (isRegistration) {
      Registrierung
    } @else {
      Login
    }
  </h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" class="form">
    <!-- TODO:  add registration input fields -->
    <mat-form-field>
      <mat-label>Name oder E-Mail</mat-label>
      <input matInput formControlName="nameOrEmail" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Passwort</mat-label>
      <input matInput formControlName="password" />
    </mat-form-field>
    <button class="submit-button" mat-flat-button type="submit">
      @if (isRegistration) {
        Registrieren
      } @else {
        Login
      }
    </button>
  </form>
  <button mat-button (click)="isRegistration = !isRegistration">
    @if (isRegistration) {
      schon registriert?
    } @else {
      noch nicht registriert?
    }
  </button>
</div>
