<div class="form-container">
  <h2 class="form-title">
    @if (isRegistration) {
      Registrierung
    } @else {
      Login
    }
  </h2>
  <form (ngSubmit)="onSubmit()" [formGroup]="formGroup" class="form">
    @if (isRegistration) {
      <mat-form-field>
        <mat-label>E-Mail</mat-label>
        <input id="email-input" matInput formControlName="email" />
      </mat-form-field>
    }
    <mat-form-field>
      <mat-label
        >Name
        @if (!isRegistration) {
          oder E-Mail
        }
      </mat-label>
      <input id="name-or-email-input" matInput formControlName="nameOrEmail" />
    </mat-form-field>
    <mat-form-field>
      <mat-label>Passwort</mat-label>
      <input0 id="password-input" matInput type="password" formControlName="password" />
    </mat-form-field>
    <button id="submit-button" class="submit-button" mat-flat-button type="submit">
      @if (isRegistration) {
        Registrieren
      } @else {
        Login
      }
    </button>
  </form>
  <button mat-button (click)="isRegistration = !isRegistration">
    @if (isRegistration) {
      schon registriert?
    } @else {
      noch nicht registriert?
    }
  </button>
</div>
