<mat-toolbar>
  @if (appbarService.backAction()) {
    <button id="back-button" mat-icon-button (click)="appbarService.backAction()!()">
      <mat-icon>arrow_back</mat-icon>
    </button>
  }
  <span class="appbar-title">{{ appbarService.title() }}</span>
  <span class="spacer"></span>
  <!-- TODO: add member list here, maybe with ng-template-->
  @for (action of appbarService.actions(); track $index) {
    <button mat-icon-button (click)="action.action()">
      <mat-icon>{{ action.icon }}</mat-icon>
    </button>
  }
  @if (authService.user()) {
    <button id="logout-button" mat-icon-button (click)="logout()">
      <mat-icon>logout</mat-icon>
    </button>
  }
</mat-toolbar>

<router-outlet />
