@if (boards().length === 0) {
  <div class="empty-container">
    <span class="empty-text">Du bist in noch keinem Board dabei...</span>
  </div>
} @else {
  <div class="board-list-container">
    <div class="board-list">
      @for (board of boards(); track $index; let i = $index) {
        <div class="board-list-item">
          <div>
            <p class="board-list-item-name">{{ board.name }}</p>
            <p class="board-list-item-member-count">Mitglieder: {{ board.allowedMembers.length }}</p>
            <p class="board-list-item-active-member-count">
              Aktiv Teilnehmende:
              <!-- TODO: hier noch die Anzahl der aktiven Mitglieder anzeigen -->
            </p>
          </div>
          <span class="spacer"></span>
          <button [id]="'enter-board-button-' + i" mat-mini-fab (click)="enterBoard(board._id)">
            <mat-icon>chevron_right</mat-icon>
          </button>
        </div>
        @if ($index !== boards().length - 1) {
          <hr class="board-list-item-separator" />
        }
      }
    </div>
  </div>
}
<button mat-fab class="create-board-button" (click)="createBoard()">
  <mat-icon>add</mat-icon>
</button>
